<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="404error content">
                <h1 style="text-align: center; font-size: 100px;">404</h1>
                <h2 style="text-align: center;font-weight: 300;"><%= message %></h2>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>